# Dataset images
data/bonsai/images_2/*.JPG


# Renders
renders/


# Python

\_\_pycache\_\_/
*.pyc
*.pyo



# Environments

.venv/
venv/



# IDE

.vscode/
.idea/



# OS

.DS\_Store
Thumbs.db



# Large model files

*.ckpt
*.pth
*.pt

